# Exclude build artifacts except the application JAR
target/*
!target/*.jar

# Git
.git
.gitignore

# Env (secrets)
.env

# Logs / temp
*.log
*.tmp

# IDE
.idea
.vscode
*.iml

# Optional
node_modules
README.md