# le build local (sauf le jar copié dans l'image)
target/*
!target/*.jar

# Git
.git
.gitignore

# Env (secrets)
.env

# Logs / temp
*.log
*.tmp

# IDE
.idea
.vscode
*.iml

# Optional
node_modules
README.md